.flex-container {
  display: flex;
}

.section-title {
  flex-basis: 40%;
  padding: rem-calc(0 100 40 0);

  h2 {
    color: $dark-blue;
    line-height: 1.1;
    padding-top: rem-calc(2);

    &:after {
      border-bottom: rem-calc(3) solid $dark-blue;
      content: '';
      display: block;
      margin-left: rem-calc(1);
      padding-bottom: rem-calc(2);
      transform-origin: 0% 50%;
      width: rem-calc(45);
    }
  }
}

.section-summary {
  flex-basis: 60%;
  padding: rem-calc(0 30 40 0);

  p {
    font-size: rem-calc(20);
    font-weight: 300;
  }
}

.section-title {
  .multi-option-button .contents {
    padding: rem-calc(16 0);

    & > span,
    a,
    button {
      color: $black;
      font-size: rem-calc(14);
      font-weight: 300;
    }

    a,
    button {
      cursor: pointer;
      outline: none;
      padding: rem-calc(8 20);

      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }

      &:active {
        color: $blue;
      }
    }
  }
}

.product-spotlight {
  display: none;
  padding-bottom: rem-calc(40);

  &.on {
    display: block;
  }

  .title,
  .list {
    display: flex;
  }

  .title {
    align-items: baseline;

    h4 {
      font-size: rem-calc(28);
    }

    button {
      color: $dark-blue;
      cursor: pointer;
      font-size: rem-calc(14);
      margin-left: auto;
      outline: none;
      text-decoration: underline;
      transition: color 0.15s ease-in-out;

      &:hover {
        color: $blue;
      }

      &:active {
        color: $black;
        transition: color 0s ease-in-out;
      }
    }
  }

  .list {
    @extend %no-style;
  }
}
