.table-nav {
  display: flex;
  margin-bottom: rem-calc(30);
  width: 100%;

  & > div {
    margin-right: rem-calc(30);
  }

  .rect-btn.option-btn {
    margin-left: auto;
  }
}

.table-container {
  display: block;
}
